[platon]
hrp = ${hrp}
network = ${network}
identity = platon
datadir = ./platon/data
port = 16790
rpcaddr = 127.0.0.1
rpcport = 6790
rpcapi = db,platon,net,web3,admin,personal
nodekey = ./platon/nodeKey/nodekey
blskey = ./platon/blsKey/blskey
verbosity = 3
syncmode = fast
logfile = ./platon/log/platon.log
